In [87]:
import pandas as pd
import numpy as np
import seaborn as sns
import math

In [73]:
data = pd.read_csv('feat-matrix.txt',header = None)

In [74]:
data

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.3737,0.0903,0.2612,0.2603,-0.0416,0.2815,0.4711,0.4997,0.5888,0.0883,...,0.3126,0.6132,0.0654,0.2145,0.7228,0.7503,0.2774,0.2032,0.1864,0.1939
1,0.5614,0.1724,0.2699,0.2589,0.2019,0.1601,0.5274,0.5871,0.3546,0.1854,...,0.4357,0.3776,0.2458,0.1314,0.8242,0.3765,0.2839,0.3570,0.1149,0.1666
2,0.0881,0.2950,0.3034,0.2760,0.2406,0.3836,0.4461,0.2801,0.3456,0.1986,...,0.1928,0.5568,0.0247,0.3137,0.7422,0.3675,0.1985,0.2992,0.4613,0.1951
3,0.1407,0.0112,0.2542,0.2385,0.3457,0.3587,0.3877,0.4383,0.3563,0.1373,...,0.4062,0.4225,0.1965,0.2805,0.8064,0.2686,0.2466,0.3957,0.2914,0.2264
4,0.3481,0.2507,0.4323,0.2157,-0.0167,0.3747,0.5949,0.4428,0.5214,0.2045,...,0.6509,0.5553,0.3993,0.3303,0.5429,0.2319,0.3857,0.2204,0.5420,0.1567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1355,0.3085,-0.1216,0.2368,0.3010,0.3100,0.1437,0.3123,0.4378,0.2579,-0.0224,...,0.1111,0.4611,0.2299,0.0835,0.5999,0.4434,0.3830,0.3608,0.3464,0.4241
1356,0.2680,0.4161,0.2529,0.4643,0.0674,0.3134,0.4122,0.5317,0.1755,0.3689,...,0.4134,0.4241,0.2170,0.2533,0.9042,0.3777,0.2201,0.4190,0.1577,0.4040
1357,0.3688,0.2465,0.3748,0.4373,0.0823,0.1132,0.3749,0.4413,0.2861,0.0644,...,0.3035,0.6269,0.2507,0.0288,0.7660,0.4235,0.1611,0.2099,0.2980,0.3135
1358,0.3418,-0.0702,0.3993,0.3383,0.2615,0.1332,0.2790,0.4020,0.3925,0.2187,...,0.3112,0.3608,0.1595,0.2845,0.5836,0.3294,0.2462,0.3181,0.0712,0.0822
1359,0.5089,0.5077,0.3311,0.3893,-0.0203,0.3335,0.5057,0.4464,0.4330,0.2424,...,0.7333,0.5051,0.1972,0.2112,1.1208,0.4745,0.1548,0.2732,0.2014,0.3501

In [116]:
lista = []
lista2 = []
lista = data.loc[0]
lista2 = data.loc[1]

In [117]:
lista

0       0.3737
1       0.0903
2       0.2612
3       0.2603
4      -0.0416
         ...
4091    0.7503
4092    0.2774
4093    0.2032
4094    0.1864
4095    0.1939
Name: 0, Length: 4096, dtype: float64

In [118]:
lista2

0       0.5614
1       0.1724
2       0.2699
3       0.2589
4       0.2019
         ...
4091    0.3765
4092    0.2839
4093    0.3570
4094    0.1149
4095    0.1666
Name: 1, Length: 4096, dtype: float64

In [119]:
lista3 = []

In [120]:
lista3 = lista - lista2

In [121]:
lista3

0      -0.1877
1      -0.0821
2      -0.0087
3       0.0014
4      -0.2435
         ...
4091    0.3738
4092   -0.0065
4093   -0.1538
4094    0.0715
4095    0.0273
Length: 4096, dtype: float64

In [122]:
lista3 = lista3 * lista3

In [125]:
numero = sum(lista3)

In [126]:
numero

124.40585286000014

In [135]:
n = math.sqrt(numero)
n = round(n,4)
n

11.1537

In [128]:
data2 = pd.read_csv('dist-matrix.txt',header=None)

In [129]:
data2

                                                      0
0     0.0000 11.1537 11.3025 11.5747 11.5523 11.9978...
1     11.1537 0.0000 9.8307 10.9288 10.5707 11.4779 ...
2     11.3025 9.8307 0.0000 9.4333 9.9260 10.9534 11...
3     11.5747 10.9288 9.4333 0.0000 10.4998 11.1688 ...
4     11.5523 10.5707 9.9260 10.4998 0.0000 11.3109 ...
...                                                 ...
1355  11.0096 10.3758 9.8730 9.8209 10.0803 10.8270 ...
1356  11.5726 10.8414 9.9954 10.6889 10.6401 10.5269...
1357  11.1067 10.6383 10.7942 10.7356 11.4582 10.541...
1358  11.1733 10.4090 10.9113 10.4830 11.6939 10.178...
1359  12.6660 12.4007 11.8639 12.5272 12.5294 13.177...

[1360 rows x 1 columns]